@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
    color: #0035ff;
    position: relative;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    display: block;
    margin-bottom: 2px;

}
.active::after{
    content: '';
    width: 100%;
    height: 2.5px;
    background-color: #0035ff;
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;

}

@media screen and (max-width: 768px){
    .active::after{
      
        width: 80px;
        
    
    }
    
}

.notActive::after{
    content: '';
    background-color: transparent;
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
}

